<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wingies" routerLinkActive="active">Vanars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>

</nav>
<div class="text-center">
  <div class="display-1" style="font-family: 'samarn', sans-serif; background-color: blueviolet; color: orange;">
    the vanar
  </div>
  <div class="mt-1">
    <div class="container">
      <div class="row">
        <div class="col">
          <carousel>
            <slide>
              <img src="assets/images/vanar.png" alt="image1" style="width: 600px; height: 500px;">
              <div class="carousel-caption">
                <h3>Vanar</h3>
                <p>Vanar Sena</p>
              </div>
            </slide>
            <slide>
              <img src="assets/images/akshat1.png" alt="image2" style="width: 600px; height: 500px;">
              <div class="carousel-caption">
                <h3>Akshat</h3>
                <p>Kehte hain agar kisi cheez ko dil se chaho ... to puri kainaat usse tumse milane ki koshish mein lag
                  jaati hai</p>
              </div>
            </slide>
            <slide>
              <img src="assets/images/chatri1.png" alt="image3" style="width: 600px; height: 500px;">
              <div class="carousel-caption">
                <h3>Nikhil Chatri</h3>
                <p>I guess the neighbors think I am selling dope</p>
              </div>
            </slide>
            <slide>
              <img src="assets/images/shah1.png" alt="image4" style="width: 600px; height: 500px;">
              <div class="carousel-caption">
                <h3 class="text-primary">Ashish</h3>
                <h5>When life gets tough put on your Boxing Gloves</h5>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>